<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<head>
    <title>Application</title>
    <style>
        .fixed-bottom-right {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1030; /* Higher than the default Bootstrap z-index to ensure it's on top */
            font-size: 36px;
            /*line-height: unset;*/
            border-radius: 50%;
            padding: 3px 8px;
        }

        .fixed-bottom-right > i {
            transform: translate(0%, 10%);
        }
    </style>
</head>
<body>
<main layout:fragment="dash_content">
    <div class="head-title">
        <div class="left">
            <h1>Application</h1>
            <ul class="breadcrumb">
                <li>
                    <a th:href="@{/}">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="#">Application</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <p th:if="${errorMassage != null}" class="d-none has-error" th:text="${errorMassage}"></p>
            <p th:if="${successMessage != null}" class="d-none has-success" th:text="${successMessage}"></p>
        </div>
    </div>

    <div class="col-12 table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>SL</th>
                <th>App Name</th>
                <th>Access Keys</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, iterStat: ${apps}">
                <td th:text="${iterStat.index + 1}"></td>
                <td th:text="${item.appName}"></td>
                <td>
                    <div class="input-group">
                        <input id="accessKey" type="text" class="form-control" th:value="${item.access_key}" readonly/>
                        <button class="btn btn-light-primary copy-to-clipboard">
                            <i class='bx bx-copy'></i>
                        </button>
                    </div>
                    <div class="input-group">
                        <input id="secreteAccessKey" type="text" class="form-control"
                               th:value="${item.secrete_access_key}" readonly/>
                        <button class="btn btn-light-primary copy-to-clipboard">
                            <i class='bx bx-copy'></i>
                        </button>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <button class="btn btn-light-primary edit-btn fs-5" th:data-name="${item.appName}"
                                data-action="/show">
                            <i class='bx bxs-message-alt-edit text-primary'></i>
                        </button>
                        <button class="btn btn-light-primary delete-btn fs-5" th:data-id="${item.id}">
                            <i class='bx bxs-message-alt-x text-danger'></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="col-sm-12">
        <button type="button" class="btn btn-primary fixed-bottom-right" id="addNewAppBtn">
            <i class='bx bx-plus'></i>
        </button>
    </div>

    <div class="modal" id="appCreateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New App</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/application}" method="post" th:object="${app}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="appName" class="form-label">App Name</label>
                            <input type="text" class="form-control" id="appName" placeholder="App Name" name="app_name"
                                   th:field="*{appName}" autofocus required="required"/>
                        </div>
                        <div class="mb-3">
                            <label for="domainAuthenticationUrl" class="form-label">Login Url</label>
                            <input type="url" class="form-control" id="domainAuthenticationUrl" placeholder="Login Url"
                                   name="domain_authentication_url" th:field="*{domain_authentication_url}"
                                   required="required"/>
                        </div>
                        <div class="mb-3">
                            <label for="redirectUrl" class="form-label">Redirect to Url</label>
                            <input type="url" class="form-control" id="redirectUrl" placeholder="Redirect to Url"
                                   name="redirect_url" th:field="*{redirect_url}" required="required"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


<th:block layout:fragment="script">
    <script>
        // clipboard
        Array.from(document.querySelectorAll(".copy-to-clipboard")).map(item => item.addEventListener("click", () => navigator.clipboard.writeText(item.parentElement.querySelector('input').value)))

        // add new form and modal show
        document.querySelector("#addNewAppBtn").addEventListener("click", () => {
            const appCreateModal = new bootstrap.Modal(document.querySelector("#appCreateModal"), {
                keyboard: false
            })
            document.querySelector("#appCreateModal").querySelector("#appName").value = "";
            document.querySelector("#appCreateModal").querySelector("#domainAuthenticationUrl").value = "";
            document.querySelector("#appCreateModal").querySelector("#redirectUrl").value = "";
            document.querySelector("#appCreateModal").querySelector("form").action = `/application`;
            appCreateModal.show()
        })

        // edit form and modal show
        Array.from(document.querySelectorAll(".edit-btn")).map(item => {
            item.addEventListener("click", () => {
                const {name, action} = item.dataset;
                const url = "/application" + `${action}?name=${name}`
                // const url = window.location.href + `${action}?name=${name}`
                axios.get(url)
                    .then(response => {
                        const {data, status} = response;
                        const appCreateModal = new bootstrap.Modal(document.querySelector("#appCreateModal"), {
                            keyboard: false
                        })
                        document.querySelector("#appCreateModal").querySelector("#appName").value = data.appName;
                        document.querySelector("#appCreateModal").querySelector("#domainAuthenticationUrl").value = data.domain_authentication_url;
                        document.querySelector("#appCreateModal").querySelector("#redirectUrl").value = data.redirect_url;
                        document.querySelector("#appCreateModal").querySelector("form").action = `/application/update?id=${data.id}`;
                        appCreateModal.show()
                    })
                    .catch(error => {
                        if (error.response) toastr.error(error.message);
                        else toastr.error(error.message);
                    });
                ;
            })
        })

        // delete modal show

        Array.from(document.querySelectorAll(".delete-btn")).map(item=>{
            item.addEventListener("click", () => {
                const {id} = item.dataset;
                const url = "/application/delete" + `?id=${id}`
                console.log(url)
                axios.get(url)
                    .then(response => {
                        window.location.reload()
                    })
                    .catch(error => {
                        if (error.response) toastr.error(error.message);
                        else toastr.error(error.message);
                    });
            })
        })
    </script>
</th:block>
</body>
</html>