<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">SSO</title>
    <link rel="stylesheet" th:href="@{/css/plugin/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/login-style.css}"/>
</head>
<div class="main" layout:fragment="content">

</div>
</body>
</html>